#newPost{
    display: flex;
    gap: var(--fs1);
    align-items: center;
    position: relative;
}
#newpost-message{
    flex: 1;
    width: 100%
}

#newpost-message:invalid{
    border: none !important;
}

#newPost-container{
    width: 100%;
    max-width: 90ch;
    padding: 0 var(--fs2)
}